<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>BlueSky</title>
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
   </head>
   <body>
      <div id="header" class="header">
         <nav class="navbar navbar-expand-lg navbar-light text-capitalize">
            <div class="container">
               <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo.png' %}" alt="#" /></a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#show-menu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="show-menu">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item active">
                        <a class="nav-link mt-3" href="#home">Home</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link mt-3" href="#about">Haqida</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link mt-3" href="#service">Xizmat</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#hiw">Bu qanday ishlaydi</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#wcs">Mijozlar nima deyishadi</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#contact">Aloqa</a>
                     </li>
                     <li class="nav-item .search-container">
                        <a class="nav-link search" href="#"><i class="fas fa-search"></i></a>
                        <form>
                           <input type="search" placeholder="Search">
                        </form>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
      </div>
      <div id="home" class="slider">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               {% for i in baners %}
                  <li data-target="#main_slider" data-slide-to="{{ forloop.counter }}" class="{% if forloop.first %}active{% endif %}"></li>
               {% endfor %}
            </ol>
            <div class="carousel-inner">
               {% for baner in baners %}
               <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img class="d-block w-100" src="{{ baner.background_img.url }}" alt="slider_img">
                  <div class="ovarlay_slide_cont">
                     <h2>{{ baner.title }}</h2>
                     <h4>Texnik xizmat ko'rsatish</h4>
                     <p>{{ baner.detail }}</p>
                     <a class="blue_bt" href="#">Bizning xizmatimizga qarang</a>
                  </div>
               </div>
               {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <img src="{% static 'imgs/left.png' %}" alt="#" />
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <img src="{% static 'imgs/right.png' %}" alt="#" />
            </a>
         </div>
      </div>
      
      </div>
      <div id="about" class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <h4>ABOUT BLUESKY</h4>
                  <h3 style="text-transform: none !important">Biz sizning qulayligingiz uchun quramiz</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
               </div>
               <div class="col-md-6 offset-md-1">
                  <div class="full text_align_center">
                     <img class="img-responsive" src="{% static 'imgs/about.png' %}" alt="#" />
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="hiw" class="hiw_section layout_padding" style="background: #1a2428;">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <h3 class="white_font">Bu qanday ishlaydi</h3>
                  <p class="white_font">adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               {% for adver in advertising %}
               <div class="col-md-4">
                  <img class="margin_top_30 img-responsive" src="{{adver.image.url}}" alt="#" />
                  <h3 class="blog_head">{{ adver.title }}</h3>
                  <h3 class="blog_head">$ {{ adver.price }}</h3>
               </div>
               {% endfor %}
               </div>
         </div>
      </div>
      <div id="service" class="hiw_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <h3>BIZNING XIZMATLARIMIZ</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               <div class="row">
                  {% for service in services %}
                     <div class="col-md-4 service_blog">
                        <img class="margin_top_30 img-responsive" src="{{ service.image.url }}" alt="#" />
                        <h3 class="blog_head">{{ service.title }}</h3>
                     </div>
                  {% endfor %}
               </div>
               
            </div>
         </div>
      </div>
      <div id="contact" class="hiw_section layout_padding" style="background: #eeefef;">
         <div class="container">
            <div class="row">
               <div class="col-md-7">
                  <h3>Onlayn bron qilish</h3>
               </div>
               <div class="col-md-5">
               </div> 
            </div>
            <div class="row">
               <div class="col-md-7">
                  <div class="contact-form">
                     <form action="#" method="post">
                        {% csrf_token %}
                        <input name="f_name" type="text" placeholder="Ism" />
                        <input name="email" type="email" placeholder="Email" />
                        <input name="phone" type="text" placeholder="Telefon raqami" />
                        <input name="service" type="text" placeholder="Xizmat turi">
                        <textarea name="message" placeholder="Xabar"></textarea>
                        <button type="submit" class="btn btn-primary">Yuborish</button>
                     </form>
                  </div>
               </div>
               <div class="col-md-5 text_align_center">
                  <img class="img-responsive" src="{% static 'imgs/man_cartoon.png' %}" alt="#" />
               </div>
            </div>
         </div>
      </div>
      <div id="wcs" class="hiw_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-12 text_align_center">
                  <h3>Bizning mijozimiz aytadi</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
               </div>
               <div class="col-md-5">
               </div>
            </div>
            <div class="row">
               <div class="col-md-11">
                  <div class="full testimonial_blog">
                     <p>Jackrok</p>
                     <p>Servis (inglizcha: service — „xizmat“) — jismoniy va yuridik shaxslarga, umuman keng aholiga xizmat koʻrsatish; ishlab chiqarish texnika maqsadlaridagi mahsulotlarni, madaniy-maishiy, xoʻjalik va boshqa sanoat mahsulotlarini sotish hamda ularni ishlatish bilan bogʻliq boʻlgan xizmat koʻrsatish sohalari. Servis texnika vositalari, maishiy-roʻzgʻor apparaturasi, kommunal texnikani sozlash va taʼmirlashga nisbatan ham qoʻllanadi.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
             <div class="col-md-4 col-sm-6">
                 <h3>Axborot byulleteni</h3>
                 <p>dolor sit amet, consectetur adipiscing elit.<br>Ut elit tellus, luctus nec ullamcorper</p>
             </div>
             <form>
                 <div class="mb-3">
                     <label for="exampleInputEmail1" class="form-label">Email manzili</label>
                     <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                     <div id="emailHelp" class="form-text">E-pochtangizni hech kim bilan baham ko'rmaymiz.</div>
                 </div>
                 <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Password</label>
                     <input type="password" class="form-control" id="exampleInputPassword1">
                 </div>
                 <div class="mb-3 form-check d-flex align-items-center">
                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                     <label class="form-check-label" for="exampleCheck1" style="margin-right: 20px;">Meni tekshiring</label>
                     <button type="submit" class="btn btn-primary">Yuborish</button>
                 </div>
             </form>
         </div>
     </div>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-md-6 col-12">
                  <div class="footer_blog_section">
                     <img src="{% static 'imgs/logo.png' %}" alt="#" />
                     <p style="margin-top: 5px;">It is a long established fact that a reader will be distracted by the readable content..</p>
                  </div>
               </div>
               <div class="col-lg-2 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">Navigation</h4>
                     <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Haqida</a></li>
                        <li><a href="#">Lokatsiya</a></li>
                        <li><a href="#">Xizmatlar</a></li>
                        <li><a href="#">Xususiyatlari</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-4 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">Aloqa ma'lumotlari</h4>
                     <p><strong>Korporativ ofis manzili:</strong></p>
                     <p><img src="{% static 'imgs/phone_icon.png' %}" alt="#" /> {{ info.address }}</p>
                     <p><strong>Mijozlarga xizmat ko'rsatish:</strong></p>
                     <p><img src="{% static 'imgs/location.png' %}" alt="#" /> {{ info.phone }}</p>
                     <p><strong>Email:</strong></p>
                     <p><img src="{% static 'imgs/email.png' %}" alt="#" width="15px" height="15px" /> {{ info.email }}</p>                     
                  </div>
               </div>
               <div class="col-lg-3 col-md-6 col-12">
                  <div class="item">
                     <h4 class="text-uppercase">Kashf qiling</h4>
                     <ul>
                        <li><a href="#">Yordam</a></li>
                        <li><a href="#">U qanday ishlaydi</a></li>
                        <li><a href="#">Obuna bo'ling</a></li>
                        <li><a href="#">Biz bilan bog'lanish</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <div class="copyright text-center">
            <p>Copyright 2019  Design by<a href="https://html.design">Bepul html shablonlar</a></p>
         </div>
      </footer>
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script>
         $(function () {
            
            'use strict';
            
            var winH = $(window).height();
            
            $('header').height(winH);  
            
            $('header .container > div').css('top', (winH / 2) - ( $('header .container > div').height() / 2));
            
            $('.navbar ul li a.search').on('click', function (e) {
               e.preventDefault();
            });
            $('.navbar a.search').on('click', function () {
               $('.navbar form').fadeToggle();
            });
            
            $('.navbar ul.navbar-nav li a').on('click', function (e) {
               
               var getAttr = $(this).attr('href');
               
               e.preventDefault();
               $('html').animate({scrollTop: $(getAttr).offset().top}, 1000);
            });
         })
      </script>
   </body>
</html>